.blogpost-base-container {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: "#FFF";

  .post-date {
    display: flex;
    margin-bottom: 20px;
    margin-right: 50px;
    justify-content: space-between;
  }

  .h1-header {
    @media screen and (min-width: 768px) {
      font-size: 50px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 55px;
    }
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
  }

  .markdown {
    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 18px;
    }
    line-height: 30px;
    font-size: 16px;
    color: #535763;
    font-family: "Muli", "Georgia", sans-serif;
  }

  .footer {
    margin-top: 30px;
  }
}
