.blogpost-base-container {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: "#FFF";

  header {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: auto;
    .h1-header {
      @media screen and (min-width: 768px) {
        font-size: 50px;
      }
      @media screen and (min-width: 1000px) {
        font-size: 55px;
      }
      margin-top: 130px;
      margin-bottom: 50px;
      font-size: 35px;
      font-weight: bold;
    }
    .small-header {
      display: flex;
      justify-content: center;
      .post-date {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .markdown {
    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 18px;
    }
    line-height: 30px;
    font-size: 16px;
    color: #535763;
    font-family: "Muli", "Georgia", sans-serif;
    // display: grid;
    #image-paragraph {
      width: 100%;
    }
    #reg-paragraph {
      margin-left: 25px;
      margin-right: 25px;
    }
    h1,
    h2,
    h3,
    h4 {
      font-family: inherit;
    }

    h4 {
      text-transform: none;
      letter-spacing: inherit;
      line-height: 30px;
      font-size: 20px;
    }
  }

  .footer {
    margin-top: 30px;
  }
}
