.comment-base-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  .add-comment {
    input {
      width: 100%;
      border: none;
      border-bottom: solid 1px lightgray;
      margin-bottom: 50px;
    }
    textarea {
      width: 100%;
      border: none;
      border-bottom: solid 1px lightgray;
    }
    padding-bottom: 20px;
    .add-comment-btn {
      // position: relative;
      // left: 70%;
      border: 0;
      background-color: #2793e8;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 100px;
      padding: 5px;
    }
  }
  .comment-container {
    .comment {
      border: none;
      border-radius: 5px;
      padding: 20px;
    }
  }
}
