.title-link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.layout-container {
  @media screen and (min-width: 768px) {
    width: 85%;
  }
  @media screen and (min-width: 1000px) {
    width: 85%;
  }
  position: relative;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}
