* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-container {
  background-color: white;
  .category-switcher-container {
    display: flex;
    justify-content: center;
    .category-switcher {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 50px;
      @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: inherit;
      }
      .category-button {
        height: 30px;
        width: 100px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 20px;
        // background: rgba(51, 55, 69, 0.8);
        background: lightgray;
        font-size: 15px;
        color: rgba(51, 55, 69, 1);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .grid-format {
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    grid-template-columns: 1fr;
    // grid-auto-flow: column;
    @media screen and (min-width: 768px) {
      column-gap: 20px;
      row-gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1000px) {
      column-gap: 20px;
      row-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .article {
      display: grid;
      justify-content: center;
      margin-bottom: 30px;
      // align-items: stretch;
      @media screen and (min-width: 768px) {
        justify-content: center;
      }
      @media screen and (min-width: 1000px) {
        // align-items: center;
      }
      .card {
        display: block;
        color: rgba(51, 55, 69, 1);
        max-width: 300px;
        max-height: 500px;
        box-shadow: 0px 0px 10px rgba(51, 55, 69, 0.2);
        border-radius: 4px;
        transition-property: background-color, color, box-shadow, transform;
        transition-duration: 0.6s;
        &:hover {
          background: linear-gradient(
            60deg,
            rgb(230, 52, 98),
            rgb(254, 95, 85)
          );
          box-shadow: 0px 0px 20px rgba(51, 55, 69, 0.5);
          // color: white;
          cursor: pointer;
          transform: scale(1.04);
          .card-image {
            transform: scale(1.1);
          }
          .card-header-title,
          .card-header-subheader,
          .card-content {
            color: white;
          }
        }
        .card-image {
          transition-duration: 0.6s;
        }
        .card-header-title {
          font-size: 20px;
          font-family: "Montserrat", serif;
          font-weight: bold;
        }
        .card-header-subheader {
          font-size: 10px;
          font-family: "Montserrat", serif;
          font-weight: normal;
        }
        .card-content {
          font-size: 13px;
          font-family: "Montserrat", serif;
        }
      }
    }
  }
  .footer-container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      // background: linear-gradient(90deg, rgb(230, 52, 98), rgb(254, 95, 85));
      background-color: rgb(230, 52, 98);
      height: 100px;
    }
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(51, 55, 69, 1);
      height: 75px;
    }
    a {
      display: flex;
      // align-items: center;
      color: rgba(51, 55, 69, 0);
      text-decoration: none;
      .icon {
        width: 20px;
        color: white;
        margin-right: 5px;
        padding: 0;
        transition: 0.3s;
        @media screen and (min-width: 768px) {
          width: 25px;
          margin-right: 5px;
        }
        @media screen and (min-width: 1000px) {
          width: 50px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
