* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-container {
  background-color: white;
  .grid-format {
    display: grid;
    width: 85%;
    max-width: 760px;
    margin: 50px auto;
    grid-auto-flow: column;
    column-gap: 20px;
    row-gap: 10px;
    .article {
      // margin-top: 50px;
      .card {
        max-width: 300px;
        max-height: 500px;
        margin: 0px;
        .card-header-title {
          font-size: 20px;
          font-family: "Montserrat", serif;
          font-weight: bold;
        }
        .card-header-subheader {
          font-size: 10px;
          font-family: "Montserrat", serif;
          font-weight: normal;
        }
        .card-content {
          font-size: 13px;
          font-family: "Muli", "Montserrat", serif;
        }
      }
    }
  }
}
