.base-container {
  display: block;
  width: 100%;
  min-height: 500px;
  background-image: url("../../../content/assets/background.jpg");
  background-size: cover;
  margin-top: 0px;
  .overlay {
    display: flex;
    position: relative;
    min-height: inherit;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 55, 69, 0.8);
    overflow: hidden;
    opacity: 1;
    justify-content: center;
    .middle-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 70px;
      margin: 0 100px;

      .site-mast {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        .site-mast-right {
          display: flex;
          justify-content: space-between;
          a {
            color: white;
            text-decoration: none;
            .icon {
              width: 50px;
              // filter: invert(100%);
            }
          }
        }
        .site-mast-left {
          .logo {
            width: 150px;
            margin: 0;
            filter: invert(100%);
          }
        }
      }
      .site-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 100px;
        padding: 144px 0;
        height: 100%;
        h1,
        h3 {
          margin: 0;
          color: white;
        }
      }
      .site-nav {
        display: flex;
        width: 100%;
      }
    }
    .middle {
      display: flex;
      opacity: 1;
      padding: 0px 0;
      margin: 0px auto;
      justify-content: center;

      .text {
        display: inherit;
        flex-direction: column;
        color: rgba(244, 250, 255, 1);
        padding: 10px 16px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
          @media screen and (min-width: 768px) {
            font-size: 50px;
          }
          @media screen and (min-width: 1000px) {
            font-size: 50px;
          }
          display: block;
          font-weight: bold;
          margin: 0 0 10px 0;
          font-size: 30px;
          text-shadow: 0 0 5px black;
          letter-spacing: 1px;
          line-height: 1.2;
          text-rendering: optimizeLegibility;
        }
        h3 {
          @media screen and (min-width: 768px) {
            font-size: 20px;
          }
          @media screen and (min-width: 1000px) {
            font-size: 20px;
          }
          letter-spacing: 1px;
          text-rendering: optimizeLegibility;
          margin: 0;
          font-weight: bold;
          font-size: 16px;
          text-shadow: 0 0 5px black;
        }
      }
    }
  }
}
