.base-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7%;
    // min-height: 100vh;
    // justify-content: space-between;
    // align-items: flex-start;
    flex-flow: column nowrap;
    .form {
        width: 100%;
        align-items: center;
        .form-group {
            margin-bottom: 5%;
            input {
                border: none;
                width: 100%;
                border-radius: 4px;
            }
        }
    }
    .btn-container {
        display: flex;
        justify-content: flex-end;
        .btn {
            border: none;
            border-radius: 5px;
            background-color: rgb(66,139,202);
            &:hover {
                cursor: pointer;
            }
        }
    }
}